<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>

  </configSections>
  <connectionStrings>

    <!--<add name="DataAccessSavalSqlServer" providerName="System.Data.SqlClient" connectionString="server=192.168.30.240;database=OppFilm;uid=sa;pwd=Password123"/>
    <add name="cnnOppfilm2010" providerName="System.Data.SqlClient" connectionString="server=192.168.30.240;database=Oppfilm_2010;uid=usrGen0197;"/>-->

    <!--<add name="cnIAP" connectionString="Data Source=ws3034;Initial catalog=bdNava01;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
    <add name="BdNava01" connectionString="Data Source=LOCALHOST;Initial catalog=bdNava01;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="BdNava02" connectionString="Data Source=localhost;Initial catalog=bdNava02;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <dataConfiguration defaultDatabase="bdNava01"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>