<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
    
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>

  </configSections>
  <connectionStrings>

    <!--<add name="DataAccessSavalSqlServer" providerName="System.Data.SqlClient" connectionString="server=192.168.30.240;database=OppFilm;uid=sa;pwd=Password123"/>
    <add name="cnnOppfilm2010" providerName="System.Data.SqlClient" connectionString="server=192.168.30.240;database=Oppfilm_2010;uid=usrGen0197;"/>-->

    <!--<add name="cnIAP" connectionString="Data Source=ws3034;Initial catalog=bdNava01;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
    <add name="BdNava01" connectionString="Data Source=localhost;Initial catalog=bdNava01;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="BdNava02" connectionString="Data Source=localhost;Initial catalog=bdNava02;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="Master" connectionString="Data Source=localhost;Initial catalog=master;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="Android" connectionString="Data source=sql7002.site4now.net;Initial Catalog=DB_A442E2_grupoiap2018;user id=DB_A442E2_grupoiap2018_admin;password=abc.1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="bdNava01"/>

  <appSettings>

    <add key="USUARIOBD" value="sa"/>
    <add key="PASSWORDBD" value="sa"/>
    <!--SERVIDOR POR DEFECTO TEXTBOX-->
    <add key="SERVIDORDEFECTO" value="LOCALHOST"/>
    <!--VALORES DEL COMBOBOX INICIO SESION-->
    <add key="EMPRESA1" value="PERFILESJYJ"/>
    <add key="EMPRESA2" value="ACEROSLC"/>
    
    <!--<add key="TELESOLUCIONES" value="2"/>-->
    <!--1 = NUBEFACT
    2 = TELESOLUCIONES-->
    <add key="PROVEEDORFE" value="2"/>
    <add key="RUCEMPRESA" value="20600085612"/>
    
    <!--NOMBRE DE LA EMPRESA LETRAS ELECTRONICAS-->
    <add key="EMPRESA" value="IAP"/>
    
    <!--CREDENCIALES PRODUCCION-->
    <!--<add key="TELEMOVILAK" value="d28a27c097baedcd36c9d83e4f9bb88002db4b1bfc1433da08aedd3c0415be36"></add>
    <add key="TELEMOVILSK" value="6e02181887cc0a63991ea0812e6ff0bfe76df3257ef22ff05b7795bd6b97c6b4"/>-->
    
    

    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpCredentialUser" value="slipnotxx@gmail.com" />
    <add key="SmtpCredentialPass" value="Slipnotxx1408" />

    <!--CREDENCIALES QA-->
    <!--<add key="TELEMOVILAK" value="c73ed3b5f2085ffdd429044b4757b97917c7ea775c0d12eae388e6e9bf19bb17"></add>
    <add key="TELEMOVILSK" value="7cb2040d868a8ed6d044fef4d6d37bcded6fd47425bab1b1973e6e66e440f3c2"/>-->
    
    <!--CREDENCIALES PRODUCCION UBL2.1-->
    <!--string aK = "d28a27c097baedcd36c9d83e4f9bb88002db4b1bfc1433da08aedd3c0415be36";
    string Ky = "6e02181887cc0a63991ea0812e6ff0bfe76df3257ef22ff05b7795bd6b97c6b4";-->

    <add key="TELEMOVILAK" value="d28a27c097baedcd36c9d83e4f9bb88002db4b1bfc1433da08aedd3c0415be36"></add>
    <add key="TELEMOVILSK" value="6e02181887cc0a63991ea0812e6ff0bfe76df3257ef22ff05b7795bd6b97c6b4"/>
    
    <add key="TELE_EmisionFactura" value="https://api2.facturaonline.pe/factura"/>
    <add key="TELE_EmisionBoleta" value="https://api2.facturaonline.pe/boleta"/>
    <add key="TELE_ConstanciaFactura" value="https://api2.facturaonline.pe/factura/"/>
    <add key="TELE_ConstanciaBoleta" value="https://api2.facturaonline.pe/boleta/"/>
    <add key="TELE_PdfFactura" value="https://api2.facturaonline.pe/factura/"/>
    <add key="TELE_PdfBoleta" value="https://api2.facturaonline.pe/boleta/"/>
    <add key="TELE_AnularDocumento" value="https://api2.facturaonline.pe/comunicacionbaja"/>

    <!--<add key="TELE_EmisionFactura" value="https://demoapi2.facturaonline.pe/factura"/>
    <add key="TELE_EmisionBoleta" value="https://demoapi2.facturaonline.pe/boleta"/>
    <add key="TELE_ConstanciaFactura" value="https://demoapi2.facturaonline.pe/factura/"/>
    <add key="TELE_ConstanciaBoleta" value="https://demoapi2.facturaonline.pe/boleta/"/>
    <add key="TELE_PdfFactura" value="https://demoapi2.facturaonline.pe/factura/"/>
    <add key="TELE_PdfBoleta" value="https://demoapi2.facturaonline.pe/boleta/"/>
    <add key="TELE_AnularDocumento" value="https://demoapi2.facturaonline.pe/comunicacionbaja"/>-->
    
    
  </appSettings>
  
  
  
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioClientesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://israelarevaloxx3-001-site1.ctempurl.com/ServicioClientes.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioClientesSoap"
                contract="ServicioAndroid.ServicioClientesSoap" name="ServicioClientesSoap" />
        </client>
    </system.serviceModel>



 
</configuration>