<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>

  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="BD" value="BdNava01" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpCredentialUser" value="slipnotxx@gmail.com" />
    <add key="SmtpCredentialPass" value="Slipnotxx1408" />
  </appSettings>

  <connectionStrings>

    <!--<add name="DataAccessSavalSqlServer" providerName="System.Data.SqlClient" connectionString="server=192.168.30.240;database=OppFilm;uid=sa;pwd=Password123"/>
    <add name="cnnOppfilm2010" providerName="System.Data.SqlClient" connectionString="server=192.168.30.240;database=Oppfilm_2010;uid=usrGen0197;"/>-->

    <!--<add name="cnIAP" connectionString="Data Source=ws3034;Initial catalog=bdNava01;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
    <add name="BdNava01" connectionString="Data Source=HANS-PC;Initial catalog=bdNava01;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="BdNava02" connectionString="Data Source=HANS-PC;Initial catalog=bdNava02;User=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <dataConfiguration defaultDatabase="bdNava01"/>
</configuration>